ul {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  animation: iluminar 2s linear infinite;
  animation-delay: 2s;

  .nav-link:hover {
    background-color: blueviolet;
  }
}

@keyframes iluminar {
  0% {
    color: black;
    text-shadow: none;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: blueviolet;
    text-shadow: 0 0 10px blueviolet, 0 0 50px rgb(169, 95, 238);
  }
}
